@import '../../variables.scss';

.error {
    padding: ($gutter * 16) ($gutter * 2);
    height: 75vh;
    &__red-icon{
      font-size: 64px;
      color: $red;
    }
    &__yellow-icon {
      font-size: 64px;
      color: $yellow;
    }
    &__text {
        color: white;
        font-size: 22px;;
    }
}