@import '../../variables.scss';

.home {

    &__banner {
        background: url('../../images/music.jpg') no-repeat center;
        background-size: cover;
        height: 100vh;
        position: relative;

        &__search-box {
            position: absolute;
            top: 30%;
            left: 50%;
            margin-left: -21rem;
            margin-top: -3.5rem;
            width: 50%;
            height: 22rem;
            background: #00000073;

            &__title {
                text-align: left;
                font-size: 54px;
                color: white;
            }
        }

    }
}