@import '../../variables.scss';

.home {

    &__banner {
        background: url('../../images/music.jpg') no-repeat center;
        background-size: cover;
        height: 100vh;
        position: relative;

        &__search-box {
            position: absolute;
            top: 30%;
            margin-top: -3.5rem;
            height: auto;
            background: #00000073;
            width: 70%;
            margin-left: -33%;
            left: 50%;
            padding-bottom: $gutter * 4;

            @include for-tablet-portrait-up {
                width: 50%;                
                margin-left: -24%;

            }

            &__title {
                text-align: left;
                color: white;
                font-size: 30px;
                @include for-tablet-portrait-up {
                    font-size: 54px;
                }
            }
        }

    }
}