@import '../../variables.scss';

.search {

    &__button {
        background: transparent;
        border: none;
    }
}
  
// input animation
.box{
    width: 300px;
    height: auto;
  }
  
  .container-2{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  
  .container-2 input#search{
    height: 50px;
    background: #ffffffc7;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 50px;
    color: $main-dark;
    width: 70%;
   
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;

    @include for-tablet-portrait-up {
        width: 0;
        font-size: 14pt;
        padding-left: 60px;
    }
  }
  
  .container-2 input#search::-webkit-input-placeholder {
     color: #65737e;
  }
   
  .container-2 input#search:-moz-placeholder { /* Firefox 18- */
     color: #65737e;  
  }
   
  .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
     color: #65737e;  
  }
   
  .container-2 input#search:-ms-input-placeholder {  
     color: #65737e;  
  }
  
  .container-2 .icon{
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: $gutter;
    margin-top: $gutter;
    z-index: 1;
    color: #4f5b66;
    font-size: 24px;

    @include for-tablet-portrait-up {
        font-size: 30px;
        margin-top: 6px;
    }
  }
  
  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
  }

  @include for-tablet-portrait-up {
      .container-2:hover input#search{
        width: 300px;
      }
  }
   
  .container-2:hover .icon{
    color: $main-dark;
    cursor: pointer;
  }