// colors
$main-dark: #242424;
$blue: #307886;
$pink: #be0d5e;
$green: #4f8e4b;
$orange: #d57b00;
$purple: #8d3aa2;
$yellow: #e6ea31;
$lightGreen: #5bd19f;
$red: #fe1c5e;

// spacing
$gutter: 8px;

//mixins
@mixin white-box {
  background: white;
  width: 90%;
  margin: 0 auto;
  padding: $gutter * 2;
  @include for-tablet-portrait-up {
    padding: $gutter * 4;
    width: 70%;
  }
}

@mixin grid-card($width) {
  display: inline-block;
  width: $width;
  padding: $gutter;
}

@mixin content-grid-card($color) {
  width: 100%;
  height: 100px;
  background-color: $color;
  position: relative;

  @include for-tablet-portrait-up {
    height: 220px;
  }
}

@mixin vertical-center {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

@mixin mobile-only {
    @media (max-width: 400px) { @content; }
  }
@mixin tablet-mobile {
    @media (max-width: 899px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }