@import '../../variables.scss';

.albumlist {
    @include white-box;
    &__content {
        &__list {
            list-style: none;
            padding: 0;
            margin: 0 auto;

            @include for-tablet-portrait-up {
                width: 70%;
            }

            &__item {
                background: $yellow;
                margin: 8px auto;
                padding: 16px;
                width: 100%;

                &:hover {
                    background-color: darken($yellow, 10%);
                  }
                
                span {
                    width: 50%;
                    display: inline-block;
                    color: $main-dark;
                }
                
                &.title {
                    background-color: $main-dark;
                    font-weight: bold;

                    span {
                        color: white;
                    }
                }
            }
            
        }
    }
}