@import '../../variables.scss';

.banner {
    padding-top: $gutter * 4;

    img {
        width: 100%;
        border: $gutter solid white;
        margin-bottom: $gutter;
        @include for-tablet-portrait-up {
            width: 60%;
        }
    }
}